:root {
    --animation-timing: 250ms;
}

.primary-navigation {
    position: sticky;
    z-index: 100;
    top: -1px; /* top: 0 leaves a 1px gap at the top of the page */
    right: 0;
    left: 0;
    background-color: var(--header-nav-footer-bg);
    border-width: 0 0 0.5rem 0;
    border-style: solid;
    border-bottom-color: var(--nav-footer-border);
    padding-block: 1rem;

    @media screen and (width <= 768px) {
        padding-block-end: 4.6rem;
    }

    &.shadow {
        box-shadow: -2px 10px 5px 0px var(--page-header-shadow);
    }

    & nav {
        width: fit-content;
        margin: 0 auto;

        @media screen and (width <= 768px) {
            &.menu-hidden,
            &.menu-visible {
                margin: 0 auto 0 2rem;
                display: grid;
                grid-template-rows: 0fr;
                transition: grid-template-rows var(--animation-timing) ease-in;

                & > ul {
                    overflow: hidden;
                    grid-row: 1 / span 2;
                }
            }

            &.menu-visible {
                grid-template-rows: 1fr;
            }
        }
    }

    & ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        gap: 2rem;
        align-items: baseline;

        @media screen and (width <= 768px) {
            flex-direction: column;
            gap: 1rem;
            z-index: 300;
        }
    }
    & a {
        color: var(--nav-link);
        border-bottom: 5px solid transparent;
        padding-block-end: 0.5rem;
        margin-bottom: 1rem;
        display: block;
        cursor: pointer;
        text-decoration: none;

        /* Excludes mobiles and tablets from trying to :hover */
        @media (hover: hover) {
            &:hover {
                border-bottom-color: var(--nav-link);
            }
        }

        &.active,
        &.active:hover {
            pointer-events: none;
            border-bottom-color: var(--nav-link);
            font-weight: 600;
        }
    }

    @media screen and (width <= 768px) {
        max-width: 100%;
        margin: 0;
    }
}

.hamburger-button-wrapper {
    display: none;
}

@media screen and (width <= 768px) {
    .hamburger-button-wrapper {
        width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
        margin: 0 auto;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        background-color: var(--header-nav-footer-bg);

        & h2 {
            font-size: 1.6rem;
            font-weight: normal;
            margin-bottom: 1rem;
            margin-left: auto;
        }
    }

    .hamburger-button {
        cursor: pointer;
        width: 5rem;
        margin-right: 1rem;

        & .line {
            width: 80%;
            height: 1rem;
            fill: var(--hamburger-line-colour);
            transition:
                y var(--animation-timing) ease-in var(--animation-timing),
                rotate var(--animation-timing) ease-in,
                opacity 0ms var(--animation-timing);
            transform-origin: center;
        }

        &[aria-expanded="true"] .line {
            transition:
                y var(--animation-timing) ease-in,
                rotate var(--animation-timing) ease-in var(--animation-timing),
                opacity 0ms var(--animation-timing);
        }
        &[aria-expanded="true"] :is(.top, .bottom) {
            /* 
                VS Code linter warns that 'y' is an unknown property: 
                It isn't, it's an svg property. 
            */
            y: 47px;
        }
        &[aria-expanded="true"] .top {
            rotate: 45deg;
        }
        &[aria-expanded="true"] .bottom {
            rotate: -45deg;
        }
        &[aria-expanded="true"] .middle {
            opacity: 0;
        }
    }
}
