:root {
    --animation-timing: 250ms;
}

.primary-navigation {
    position: relative;
    width: 100%;

    &.padding {
        padding-block-end: 1.8rem;
    }

    & nav {
        width: fit-content;
        margin: var(--horz-center);

        @media screen and (width <= 768px) {
            &.menu-hidden,
            &.menu-visible {
                margin: 0 auto 0 2rem;
                display: var(--grid);
                grid-template-rows: 0fr;
                transition: grid-template-rows var(--animation-timing) ease-in;

                & > ul {
                    overflow: hidden;
                    grid-row: 1 / span 2;
                }
            }

            &.menu-visible {
                grid-template-rows: 1fr;
            }
        }
    }

    & ul {
        list-style: none;
        padding-left: 0;
        display: var(--flex);
        gap: 2rem;
        align-items: baseline;

        @media screen and (width <= 768px) {
            flex-direction: column;
        }
    }
    & span {
        /* text-decoration: none; */
        color: var(--nav-link);
        border-bottom: 5px solid transparent;
        padding-block-end: 0.5rem;
        margin-bottom: 1rem;
        display: block;
        cursor: pointer;

        &:hover {
            border-bottom-color: var(--nav-link);
        }

        &.active,
        &.active:hover {
            /* text-decoration: none; */
            pointer-events: none;
            border-bottom-color: var(--nav-link);
            font-weight: 600;
        }
    }

    @media screen and (width <= 768px) {
        max-width: 100%;
        margin: 0;
    }
}

.hamburger-button-wrapper {
    display: none;
}

@media screen and (width <= 768px) {
    .hamburger-button-wrapper {
        width: fit-content;
        display: var(--flex);
        gap: 1rem;
        align-items: center;
        margin: var(--horz-center);
        position: absolute;
        top: -1.2rem;
        right: 2rem;

        & h2 {
            font-size: 1.6rem;
            font-weight: normal;
            margin-bottom: 1rem;
        }
    }

    .hamburger-button {
        cursor: pointer;
        width: 5rem;

        & .line {
            width: 80%;
            height: 1rem;
            fill: var(--hamburger-line-colour);
            transition:
                y var(--animation-timing) ease-in var(--animation-timing),
                rotate var(--animation-timing) ease-in,
                opacity 0ms var(--animation-timing);
            transform-origin: center;
        }

        &[aria-expanded="true"] .line {
            transition:
                y var(--animation-timing) ease-in,
                rotate var(--animation-timing) ease-in var(--animation-timing),
                opacity 0ms var(--animation-timing);
        }
        &[aria-expanded="true"] :is(.top, .bottom) {
            /* 
                VS Code linter warns that 'y' is an unknown property: 
                It isn't, it's an svg property. 
            */
            y: 47px;
        }
        &[aria-expanded="true"] .top {
            rotate: 45deg;
        }
        &[aria-expanded="true"] .bottom {
            rotate: -45deg;
        }
        &[aria-expanded="true"] .middle {
            opacity: 0;
        }
    }
}
